/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset
*/

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
  outline: 1px red solid; 
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* Main Background Color: #005EB8 */
/* Secondary Background Color: whitesmoke */
/* Main Text Color: Whitesmoke */
/* Secondary Text Color: Black */


body {
  margin: 0;
  background-color: #005EB8; color: whitesmoke;
}

#Main-Title {

    width: 100vw; height: 10vh;
     text-align: center; margin-bottom: 0; 
     font-size: 3rem; font-family: 'Playfair';
}

#Second-MainTitle { 
    background-color: whitesmoke; color: #005EB8; 
    width: 100vw; height: 6vh; 
    text-align: center; margin-bottom: 10; 
    font-size: 1.2rem; font-family: 'Montserrat'
}