/*
# CSS Preset
## version 1.0.0
A simple CSS preset to enable box-sizing, set some text rendering options to decrease the differences between browsers, and set a couple of nice defaults.
## Usage
    <link href=preset.css rel=stylesheet>
## Info
- author: Tommy Hodgins
- license: MIT
- website: https://github.com/tomhodgins/preset
*/

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}

/* Main Background Color: #005EB8 */
/* Secondary Background Color: whitesmoke */
/* Main Text Color: Whitesmoke */
/* Secondary Text Color: Black */

/* Title Font: Playfair*/ 


body {
  margin: 0;
  background-color: #005EB8; color: whitesmoke;
}

button {cursor: pointer;}


/* Landing Page */ 

#Main-Title {
    width: 100vw; height: 10vh;
     text-align: center; margin-top: 0.5vh; 
     font-size: 3rem; font-family: 'Playfair';
}

#TopNavOptions { 
    background-color: whitesmoke; color: #005EB8; 
    width: 100vw; height: 8vh; 
    text-align: center; 
    font-size: 1.2rem; font-family: 'Montserrat';
    margin-top: -6.5vh;
}

.TopNavButton {

  background-color: #005EB8; color: whitesmoke; 
  border: 0px; border-radius: 9%; 
  padding: 0.3%; 
  font-weight: bold; 

}

#TopImages {

  background-color: whitesmoke;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  display: flex; justify-content: center; align-items: center; gap: 7vw;
  width: 100vw; height: 1vh;
  border-radius: 5%; margin-top: 5vh;
  padding: 9%;

}

.TopImage.Image {
  width: 25%; height: auto; 
  max-height: 300px;
  border-radius: 10%;
}

#PageBanner{
  display: flex; align-content: center; justify-content: center; gap: 1.2%;
  width: 100vw; height: 30vh; margin-top: 3vh;
  background-color: #005EB8; 
}

#PageBanner-TextContent {
  text-align: end; margin-right: 0vw; 
  width: 50vw; height: 40vh;
}

#PageBanner-Title { 
  width: fit-content; height: fit-content; padding: 1.5%; 
  color: #005EB8; background-color: whitesmoke;
  font-family: 'Playfair';
  margin-left: 20vw;  border-radius: 7%; margin-top: 1.5vh;
}

#PageBanner-Caption { 
  color: whitesmoke; 
  font-weight: 570; font-style: italic; 
  border-radius: 7%; margin-top: -3vh;
  height: 10vw; height: 12vh; padding: 2%; 
}

#PageBanner-Button { 
  
  position: absolute;
  background-color: whitesmoke; color: #005ED1; border: 0px; 
  padding: 1%; border-radius: 7%; margin-top: -2vh; margin-left: -9.41vw;
  font-weight: bold; 

}

#BannerImage { 
  width: 40%; height: 45vh;
  max-height: 400px;
  border-radius: 6%; 
}

/* Event Swiping Page */ 



